:root
{
	--red: #ff5964;
	--red_darker: #ff3341;
	--dark_blue: #38618c;
	--light_blue: #35a7ff;
	--dark_grey: #2e3131;
	--green: #2ecc71;
	--green_darker: #27ae60;
	--light_blue_darker: #3198e8;
    --light_grey: #e8e8e8;
	--white: #fff;
}