#todo_list
{
	width: 40%;
	margin: 2rem 0 0 30%;
	background: var(--white);
	border: 3px solid var(--dark_blue);
	border-radius: 7px;
}

div#head div#box_search 
{
	position: relative;
	width: 90%;
	height: 3rem;
	margin: 2rem 0 2rem 13%;
}

div#head div#box_search input[type=date] 
{
	display: inline-block;
	position: absolute;
	width: 72%;
	font-size: 1rem;
	padding: 0 2.5% 0 2.5%;
	color: var(--dark_grey);
	height: 100%;
	top: 0;
	left: 0;
	margin: 0 0 0 0;
	background: transparent;
	border: 3px solid var(--light_blue);
	border-radius: 5px;
}

div#head div#box_search button 
{
	position: absolute;
	width: 10%;
	height: 110%;
	top: 0;
	right: 0;
	margin: 0 10% 0 0;
	background: transparent;
	border: 3px solid var(--light_blue);
	border-radius: 5px;
	cursor: pointer;
	transition: .2s ease;
}

div#head div#btn_add 
{
	background: var(--white);
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0.4rem 0 0 3.4%;
	padding: 5px;
	border-radius: 100px;
	transition: .3s ease;
	cursor: pointer;
}

div#body .task {
	width: 100%;
	position: relative;
	border-bottom: 3px solid var(--dark_blue);
	height: 100%;
}

div#body .task .task_main_content h2 
{
	width: 80%;
	padding: 0.5rem 0 0 5%;
	font-size: 1.5rem;
	color: var(--dark_blue);
}

div#body .task .task_main_content p.task_description 
{
	font-size: 1rem;
	width: 80%;
	margin: 0.2rem 0 0 7%;
	color: var(--dark_grey);
}

div#body .task .task_done 
{
	position: absolute;
	width: 15%;
	right: 0;
	top: 0;
	border-left: 3px solid var(--dark_blue);
	height: 100%;
}

div#body .task .task_done input[type=checkbox] 
{
	display: block;
	text-align: center;
	margin: 10% auto;
	appearance: none;
	-moz-appearance: none;
	width: 1.5rem;
	height: 1.5rem;
	border: 3px solid var(--dark_grey);
	transition: .2s ease;
}

div#footer input[type=button] 
{
	width: 20%;
	height: 2.5rem;
	border: none;
	margin: 1rem 0 1rem 40%;
	border-radius: 5px;
	background: var(--red);
	font-size: 1rem;
	color: var(--white);
	transition: .2s ease;
	cursor: pointer;
}
body 													{overflow-x: hidden;}
div#footer input[type=button]:hover 					{background: var(--red_darker);}
h1#title 												{text-align: center;margin: 2rem 0 0 0;}
div#body .task .task_done input[type=checkbox]:checked 	{background: var(--green);}
div#body .task .task_done p 							{text-align: center;margin: 0.5rem 0 0 0;}
div#body .task .task_main_content p.task_description i 	{color: var(--light_blue);}
div#body .task .task_main_content p.expiry 				{font-size: 0.9rem;margin: 0.5rem 0 1rem 7%;color: var(--red);}
div#body .task .task_main_content 						{width: 85%;word-wrap: break-word;}
div#head div#btn_add i 									{color: var(--green);}
div#head button i 										{color: var(--red);}
div#head 												{border-bottom: 3px solid var(--dark_blue);position: relative;}
h1#title												{text-align: center; color: var(--dark_grey); font-size: 1.8rem; margin: 0 0 2rem 0;}