* 
{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans';
}

#todo_list 
{
	width: 40%;
	margin: 2rem 0 0 30%;
	background: #fff;
	border: 3px solid #38618c;
	border-radius: 7px;
}

div#head 
{
	border-bottom: 3px solid #38618c;
	position: relative;
}

div#head div#box_search 
{
	position: relative;
	width: 90%;
	height: 3rem;
	margin: 2rem 0 2rem 13%;
}

div#head div#box_search input[type=date] 
{
	display: inline-block;
	position: absolute;
	width: 72%;
	font-size: 1rem;
	padding: 0 2.5% 0 2.5%;
	color: #2e3131;
	height: 100%;
	top: 0;
	left: 0;
	margin: 0 0 0 0;
	background: transparent;
	border: 3px solid #35a7ff;
	border-radius: 5px;
}

div#head div#box_search button 
{
	position: absolute;
	width: 10%;
	height: 110%;
	top: 0;
	right: 0;
	margin: 0 10% 0 0;
	background: transparent;
	border: 3px solid #35a7ff;
	border-radius: 5px;
	cursor: pointer;
	transition: .2s ease;
}

div#head button i 
{
	color: #ff5964;
}

div#head div#btn_add 
{
	background: #fff;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0.4rem 0 0 3.4%;
	padding: 5px;
	border-radius: 100px;
	transition: .3s ease;
	cursor: pointer;
}

div#head div#btn_add i 
{
	color: #2ecc71;
}

div#body .task {
	width: 100%;
	position: relative;
	border-bottom: 3px solid #38618c;
	height: 100%;
}

div#body .task .task_main_content 
{
	width: 85%;
	word-wrap: break-word;
}

div#body .task .task_main_content h2 
{
	width: 80%;
	padding: 0.5rem 0 0 5%;
	font-size: 1.5rem;
	color: #38618c;
}

div#body .task .task_main_content p.task_description 
{
	font-size: 1rem;
	width: 80%;
	margin: 0.2rem 0 0 7%;
	color: #2e3131;
}

div#body .task .task_main_content p.task_description i 
{
	color: #35a7ff;
}

div#body .task .task_main_content p.expiry 
{
	font-size: 0.9rem;
	margin: 0.5rem 0 1rem 7%;
	color: #ff5964;
}

div#body .task .task_done 
{
	position: absolute;
	width: 15%;
	right: 0;
	top: 0;
	border-left: 3px solid #38618c;
	height: 100%;
}

div#body .task .task_done p 
{
	text-align: center;
	margin: 0.5rem 0 0 0;
}

div#body .task .task_done input[type=checkbox] 
{
	display: block;
	text-align: center;
	margin: 10% auto;
	appearance: none;
	-moz-appearance: none;
	width: 1.5rem;
	height: 1.5rem;
	border: 3px solid #2e3131;
	transition: .2s ease;
}

div#body .task .task_done input[type=checkbox]:checked 
{
	background: #2ecc71;
}

div#footer input[type=button] 
{
	width: 20%;
	height: 2.5rem;
	border: none;
	margin: 1rem 0 1rem 40%;
	border-radius: 5px;
	background: #ff5964;
	font-size: 1rem;
	color: #fff;
	transition: .2s ease;
	cursor: pointer;
}

div#footer input[type=button]:hover 
{
	background: #ff3341;
}

div#item_add 
{
	width: 30%;
	background: #fff;
	margin: 1rem 0 0 35%;
	border: 3px solid #38618c;
	position: relative;
}

div#item_add h2 
{
	font-size: 1.5rem;
	font-weight: 600;
	color: #2e3131;
	padding: 1rem 0 1rem 5%;
	border-bottom: 3px solid #38618c;
}

div#item_add i 
{
	position: absolute;
	top: 0;
	right: 0;
	margin: 1rem 3% 0 0;
	color: #2e3131;
	transition: color .2s ease;
	cursor: pointer;
}

div#item_add i:hover 
{
	color: var(--red);
}

div#item_add input#add_title_id 
{
	width: 66%;
	padding: 0 2% 0 2%;
	height: 3rem;
	font-size: 1.25rem;
	margin: 1rem 0 1rem 15%;
	border: 2px solid #2e3131;
	border-radius: 3px;
}

div#item_add input.add_description_c 
{
	width: 56%;
	height: 2rem;
	padding: 0 2% 0 2%;
	margin: 0.5rem 0 0.5rem 20%;
	border: 2px solid #2e3131;
	border-radius: 3px;
	font-size: 0.9rem;
}

div#item_add button#add_desc_add 
{
	width: 20%;
	height: 2rem; margin : 1rem 0 0 40%;
	border: none;
	background: #ff5964;
	border-radius: 3px;
	color: #fff;
	transition: .2s ease;
	cursor: pointer;
	margin: 1rem 0 0 40%;
}

div#item_add button#add_desc_add:hover 
{
	background-color: var(--red_darker);
}

div#item_add label {
	display: block;
	text-align: center;
	margin: 1.5rem 0 0 0;
	padding: 1rem 0 0 0;
	border-top: 2px solid var(--dark_blue);
}

div#item_add input#add_expire_date_id,
div#item_add input#add_expire_time_id
{
	height: 2rem;
	padding: 0 2% 0 2%;
	font-size: 1rem;
	border: 2px solid var(--dark_grey);
	border-radius: 3px;
}
 
div#item_add input#add_expire_date_id
{
	width: 20%;
	margin: 0 0 0 38%;
}
 
div#item_add input#add_expire_time_id
{
	width: 12%;	
	margin: 0.5rem 0 1rem 43%;
	
}
 
div#item_add button#add_final
{
	width: 24%;
	height: 2.5rem; margin : 1rem 0 0 40%;
	border: none;
	background: var(--green);
	border-radius: 3px;
	color: #fff;
	transition: .2s ease;
	cursor: pointer;
	margin: 1.5rem 0 1.5rem 38%;
}
 
div#item_add button#add_final:hover
{
	background: var(--green_darker);
}
 
div#item_add span#sperator
{
	position: absolute;
	width: 100%;
	height: 2px;
	background: var(--dark_blue);
}
 
 
 
 
 
